<section class="flex justify-center items-center flex-col mt-10 bg-white rounded-2xl mx-auto px-12 w-fit py-5">
  <h1 class="text-3xl font-bold text-[#64748B]">Add School</h1>

	<%= render 'form', school: @school %>
</section>
